$color_1: black;
$color_2: white;
$color_3: darkslategray;
$background-color_1: rgba(0, 0, 0, 0.8);
$background-color_2: lightgray;
$background-color_3: darkslategray;
$background-color_4: white;
$background-color_5: #bbb;
$background-color_6: dimgray;

#cookies-consent {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $background-color_1;
    z-index: 1000;
    backdrop-filter: blur(10px);
    visibility: hidden;

    .popup {
        margin: 0 auto;
        margin-top: 20vh;
        width: 50vw;
        min-width: 250px;
        max-width: 450px;
        background-color: $background-color_2;
        color: $color_1;
        padding: 20px;
        border-radius: 10px;

        .logo {
            font-size: 32px;
            line-height: 32px;
        }

        p {
            margin: 15px 0;

            &:first-child {
                margin-top: 0;
                text-align: justify;
            }
        }

        a {
            display: inline-block;
            line-height: 40px;
            width: 100px;
            text-align: center;
            text-decoration: none;
            margin-right: 10px;
            border-radius: 5px;
        }

        a.accept {
            background-color: $background-color_3;
            color: $color_2;

            &:hover {
                background-color: $background-color_4;
                color: $color_3;
            }
        }

        a.decline {
            background-color: $background-color_5;
            color: $color_1;

            &:hover {
                background-color: $background-color_6;
                color: $color_2;
            }
        }
    }
}