$color_1: lightgray;
$color_2: white;
$font-family_1: "Radio Canada", sans-serif;
$font-family_2: "Jost", sans-serif;
$background-color_1: black;
$background-color_2: rgba(0, 0, 0, 0.8);
$background-color_3: rgba(255, 255, 255, 0.15);
$background-color_4: rgb(23, 40, 40);
$background-color_5: darkslategray;
$background-color_6: #333;
$background-color_7: #181818;
$border-color_1: white;

@import "https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Radio+Canada:ital,wdth,wght@0,75..100,300..700;1,75..100,300..700&display=swap";

/* Desktop */
/* Mobile */
* {
    font-family: $font-family_1;
    font-weight: 300;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

body {
    background-color: $background-color_1;
    color: $color_1;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    touch-action: pan-x pan-y;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.logo {
    font-family: $font-family_2;

    a {
        font-family: $font-family_2;
    }

    img {
        width: 32px;
        vertical-align: -10%;
    }
}

a {
    color: $color_1;
    text-decoration: none;

    &:hover {
        color: $color_2;
    }
}

#main-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#search-cancel {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $background-color_2;
    z-index: 50;
    display: none;
    backdrop-filter: blur(2px);
}

#header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20px;
    background: linear-gradient(rgb(23, 40, 40), darkslategray);

    .column {
        position: relative;
    }

    .search {
        position: absolute;
        z-index: 100;

        .looking-glass {
            position: absolute;
            left: 4px;
            top: 4px;
            width: 24px;
        }

        input {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            line-height: 30px;
            background-color: $background-color_3;
            border: none;
            padding: 0;
            color: $color_2;
            border: 1px solid darkslategray;
            border-radius: 5px;
            padding-left: 32px;

            &:focus {
                outline: none;
                border: 1px solid white;
            }
        }

        #results-dropdown {
            position: absolute;
            left: 2px;
            right: 2px;
            top: 34px;
            background-color: $background-color_4;
            z-index: 100;
            border-radius: 5px;
            max-height: 80vh;
            overflow-y: auto;
            box-shadow: darkslategray 0 0 20px inset;
            border: 1px solid rgb(69, 116, 116);
            visibility: hidden;

            ul {
                position: relative;
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

            .no-result {
                padding: 20px;
            }

            .result {
                position: relative;
                height: 70px;
                border-top: 1px solid darkslategray;
                cursor: pointer;

                &:first {
                    border-top: none;
                }

                &:hover {
                    background-color: $background-color_5;
                }

                img {
                    position: absolute;
                    left: 5px;
                    top: 5px;
                    width: 60px;
                    border-radius: 5px;
                }

                .title {
                    position: absolute;
                    left: 80px;
                    right: 16px;
                    top: 16px;
                    text-wrap: nowrap;
                    font-weight: 500;
                    overflow: hidden;
                }

                .artist {
                    position: absolute;
                    left: 80px;
                    right: 16px;
                    bottom: 16px;
                    text-wrap: nowrap;
                    font-size: 80%;
                }
            }
        }
    }
}

#main-section {
    position: absolute;
    left: 0;
    right: 0;

    h1 {
        font-weight: 500;
        margin: 0;
    }

    .column {
        position: relative;
    }

    .scrollview {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: scroll;
    }

    .flex-grid {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .privacy {
        h2 {
            font-weight: 500;
            margin-top: 50px;
        }

        a {
            text-decoration: underline;
        }

        .analytics-consent-controls {
            padding: 20px;
            border: 1px solid darkslategray;
            border-radius: 10px;
        }
    }

    .page-not-found {
        text-align: center;

        h2 {
            font-weight: 500;
            margin-top: 50px;
        }

        a {
            text-decoration: underline;
        }

        .analytics-consent-controls {
            padding: 20px;
            border: 1px solid darkslategray;
            border-radius: 10px;
        }
    }

    .album {
        position: relative;
        border-radius: 10px;
        border: 1px solid darkslategray;
        box-shadow: rgba(0, 0, 0, 0.5) 0 3px 5px;
        cursor: pointer;
        background-size: contain;
        display: block;

        &:hover {
            border-color: $border-color_1;

            .blurry-background {
                opacity: 100%;
                filter: brightness(1.5), blur(20px);
            }
        }

        .blurry-background {
            position: absolute;
            left: -10px;
            right: -10px;
            top: -10px;
            bottom: -10px;
            background-size: cover;
            z-index: -1;
            filter: blur(20px);
            opacity: 50%;
        }
    }

    #top-bar-container {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: 0;
        box-shadow: black 0 5px 10px;
        z-index: 10;
        background: linear-gradient(#222, #444);
        border-bottom: 1px solid #666;

        .buttons-container {
            position: absolute;

            .button {
                border: 1px solid #666;
                border-radius: 3px;
                background-color: $background-color_6;
                display: inline-block;

                &:hover {
                    border-color: $border-color_1;
                }
            }
        }
    }

    #catalog-listing {
        max-width: 80%;
        margin: 40px auto;
        list-style-type: none;
        padding: 0;

        li {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            box-sizing: border-box;

            position: relative;
            display: block;
            height: 64px;
            margin-bottom: 10px;

            border: 1px solid black;
            box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.25);

            >img {
                filter: blur(20px);
                opacity: 20%;
            }

            &:hover {
                border: 1px solid gray;
                border-radius: 5px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            a {
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;

                img {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                .title {
                    position: absolute;
                    left: 74px;
                    right: 10px;
                    top: 0;
                    line-height: 40px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .artist {
                    position: absolute;
                    left: 74px;
                    top: 35px;
                    right: 10px;
                    font-size: 80%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: gray;
                }
            }
        }
    }
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(darkslategray, rgb(23, 40, 40));
    box-shadow: black 0 -5px 10px;
    z-index: 10;
    font-size: 12px;
    text-align: center;

    .column {
        padding-top: 10px;
    }

    a {
        text-decoration: underline;
    }
}

@media screen and (min-device-width: 1001px) {
    #header {
        .logo {
            font-size: 32px;
            line-height: 50px;
        }

        .search {
            left: 200px;
            right: 0;
            top: 9px;
            bottom: 9px;
        }

        height: 50px;
    }

    .column {
        width: 960px;
        margin: 0 auto;
    }

    .small-column {
        width: 720px;
        margin: 0 auto;
    }

    #main-section {
        top: 50px;
        bottom: 50px;

        h1 {
            line-height: 50px;
            font-size: 32px;
        }

        h1.align-left {
            margin-left: 40px;
        }

        .scrollview {
            top: 50px;
        }

        .album {
            width: 250px;
            height: 250px;
        }

        #top-bar-container {
            .buttons-container {
                right: 0;
                top: 12px;

                .button {
                    line-height: 30px;
                    padding: 0 10px;
                    font-size: 14px;
                    margin-left: 10px;
                }
            }
        }

        #catalog-index {
            margin: 20px auto;
            border-bottom: 1px solid darkslategray;
            border-top: 1px solid darkslategray;
            border-collapse: collapse;

            td {
                line-height: 32px;
                color: darkslategray;

                a {
                    color: gray;
                    display: inline-block;
                    padding: 0 5px;

                    &:hover {
                        color: white;
                        background-color: darkslategray;
                    }

                    &.selected {
                        color: white;
                    }
                }

                span.empty-section {
                    display: inline-block;
                    padding: 0 5px;
                }
            }
        }

        #catalog-selector {
            display: none;
        }
    }

    #footer {
        height: 50px;
    }
}

@media screen and (max-device-width: 1000px) {
    .column {
        width: 95vw;
        margin: 0 auto;
    }

    #header {
        height: 80px;

        .logo {
            font-size: 24px;
            line-height: 40px;
            text-align: center;
        }

        .search {
            left: 0;
            right: 0;
            top: calc(80px - 2.5vw - 32px);
        }
    }

    #main-section {
        top: 80px;
        bottom: 70px;

        h1 {
            line-height: 40px;
            font-size: 16px;
        }

        .scrollview {
            top: 40px;
        }

        .album {
            width: 150px;
            height: 150px;
        }

        #top-bar-container {
            .buttons-container {
                right: 0;
                top: 5px;

                .button {
                    line-height: 30px;
                    padding: 0 10px;
                    font-size: 14px;
                    margin-left: 10px;
                    background-color: $background-color_7;
                }
            }
        }

        #catalog-index {
            display: none;
        }

        #catalog-selector {
            margin: 20px auto;
            width: 80%;

            select {
                width: 100%;

                background: linear-gradient(darkslategray, rgb(23, 40, 40));
                color: white;
                padding: 5px 15px;
                border-radius: 3px;
                border: 1px solid darkslategray;
                font-size: 18px;
            }
        }
    }

    #footer {
        height: 70px;
    }

    #report-error-button {
        display: none;
    }
}