{% extends 'main-pages-base.twig' %}

{% block title 'Page Not Found | ' %}

{% block header %}
	<h1 class="align-center">Page Not Found</h1>
{% endblock %}

{% block content %}
	<div class="scrollview page-not-found">
		<div class="column">
			<p>We can't find the page you're looking for.</p>
			<p>
				<a href="/">Go Back to the Homepage</a>
			</p>
		</div>
	</div>
{% endblock %}
