<div id="cookies-consent">
	<div class="popup">
		<p>This website uses cookies to store analytics data in your browser in a way that preserves your privacy. This way we can monitor traffic without collecting any of your personal information, not even your IP address.</p>
		<p>However, you are free to decline our use of cookies. We will only store a cookie that reflects your choice in that case.</p>
		<div class="buttons">
			<a href="#" class="accept" id="accept-cookie-consent">Accept</a>
			<a href="#" class="decline" id="decline-cookie-consent">Decline</a>
		</div>
	</div>
</div>
