VGTunes does not own any cover artwork for the soundtracks featured on the website. These cover artworks and the works they are related too remain the sole property of their registered owners.
<a href="/cookie-settings-and-privacy-policy.html">Cookie Settings and Privacy Policy</a>
