Any cover artwork for the soundtracks featured on VGTunes or the works they are related to remain the sole property of their registered owners.
<a href="/cookie-settings-and-privacy-policy.html">Cookie Settings and Privacy Policy</a>
