{% extends 'main-pages-base.twig' %}

{% block title ' - Privacy Policy and Settings' %}

{% block header %}
	<h1 class="align-center">Privacy Policy and Settings</h1>
{% endblock %}

{% block content %}
	<div class="scrollview privacy">
		<div class="column">
			<h2>Privacy Policy</h2>
			<p>
				<span class="logo">VGTunes</span>
				does not collect any personal data. We do not collect your IP address our any location data.</p>
			<p>We monitor traffic on our website by using data that are stored exclusively locally on your machine. This reduces accuracy on our side, but guarantees that your personal information is never shared with us.</p>
			<p>
				<span class="logo">VGTunes</span>
				is hosted on
				<a href="https://pages.github.com/" target="_blank">GitHub Pages</a>
				and their own privacy policy may apply.</p>

			<h2>Privacy Settings</h2>
			<p>You can control whether you have consented to the use of your local storage for traffic analysis with the checkbox below.</p>
			<p class="analytics-consent-controls">
				<input id="analytics-consent-checkbox" type="checkbox"/>
				I consent to the use of local storage for traffic analysis on
				<span class="logo">VGTunes</span>.</p>
		</div>
	</div>
{% endblock %}
