<div class="socials">
	{% if cta is defined and cta == true %}
		<span class="cta">Follow us on</span>
	{% endif %}
	<a href="https://bsky.app/profile/chsxf.dev/feed/vgtunes" target="_blank"><img src="/images/social-icons/bluesky.png" alt="BlueSky"></a>
	<a href="https://mastodon.gamedev.place/tags/vgtunes" target="_blank"><img src="/images/social-icons/mastodon.png" alt="Mastodon"></a>
	<a href="https://www.instagram.com/_vgtunes_/" target="_blank"><img src="/images/social-icons/instagram.png" alt="Instagram"></a>
	<a href="https://pixelfed.social/vgtunes" target="_blank"><img src="/images/social-icons/pixelfed.png" alt="Pixelfed"></a>
</div>
