<div class="socials">
	{% if cta is defined and cta == true %}
		<span class="cta">Follow us on</span>
	{% endif %}
	<a href="https://bsky.app/profile/chsxf.dev/feed/vgtunes" target="_blank" alt="BlueSky"><img src="/images/social-icons/bluesky.png"></a>
	<a href="https://mastodon.gamedev.place/tags/vgtunes" target="_blank" alt="Mastodon"><img src="/images/social-icons/mastodon.png"></a>
	<a href="https://www.instagram.com/_vgtunes_/" target="_blank" alt="Instagram"><img src="/images/social-icons/instagram.png"></a>
	<a href="https://pixelfed.social/vgtunes" target="_blank" alt="Pixelfed"><img src="/images/social-icons/pixelfed.png"></a>
</div>
